.fact-button {
    background-color: #020b85;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.fact-text {
    padding-bottom: 20px;
}